@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);

}
.app-content {
  display: flex;
  flex-grow: 1;
}
.app-page {
  flex-grow: 1;
  padding: 20px;
}