.Code {
  position: relative;
  overflow: auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  background: var(--code-bg);
}
.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.icon path {
  stroke: var(--primary-color);
}

.CodeRedesigned {
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
    width: 100%;
}