.icon {
  margin-right: 10px;
  fill: var(--inverted-primary-color);
}
.collapsed {
  width: var(--sidebar-width-collapsed);
  .icon {
    margin-right: 0;
    margin-left: 25px;
  }
  .link {
    width: 0;
    opacity: 0;
  }
}