.Sidebar {
  position: relative;
  height: calc(100vh - var(---navbar-height));

  // width: 20%;
  flex: 20% 0 0;
  background: var(--inverted-bg-color);
  transition: 0.3s flex;
}
.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.lang {
  margin-left: 20px;
}
.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;

}
.collapsed {
  // width: var(--sidebar-width-collapsed);
  flex: var(--sidebar-width-collapsed) 0 0;
  .switchers {
    flex-direction: column;
    align-items: center;
  }
  .items {
    align-items: center;
    margin-left: 0;
  }
  .lang {
    margin-left: 0;
  }
}