.Sidebar {
  position: relative;
  height: calc(100vh - var(---navbar-height));
  flex: var(--sidebar-width) 0 0;
  background: var(--inverted-bg-color);
  transition: 0.3s flex;
}
.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.lang {
  margin-left: 20px;
}
.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}
.items {
  margin-left: 20px;
}
.collapsed {
  // width: var(--sidebar-width-collapsed);
  flex: var(--sidebar-width-collapsed) 0 0;
  .switchers {
    flex-direction: column;
    align-items: center;
  }
  .items {
    align-items: center;
  }
  .lang {
    margin-left: 0;
  }
}

.SidebarRedesigned {
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    .appLogo {
      padding-top: 20px;
    }

    .itemsRedesigned {
      margin-top: 40px;
    }
    .collapseBtnRedesigned {
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(90deg);
        cursor: pointer;
    }

    .switchers {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }
}

.collapsedRedesigned {
    width: 50px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .collapseBtnRedesigned {
        transform: rotate(-90deg);
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}