.navbar {
  display: flex;
  width: 100%;
  height: var(--navbar--height);
  align-items: center;
  padding: 20px;
  background: var(--inverted-bg-color);
}
.mainLink {
  margin-right: 15px;
}
.dropdown {
  margin-left: auto;
}
.links {
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--inverted-primary-color);
}
.createNewArticle {
  margin-left: var(--sidebar-width);
}
.navbarBtn {
  margin-left: auto;
}