.commentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
}
.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.AvatarSkeleton {
  margin-right: 10px;
}
.TextSkeleton {
  margin-top: 20px;
}