.commentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.commentCardRedesigned {
  padding: 10px;
}
.AvatarSkeleton {
  margin-right: 10px;
}
.TextSkeleton {
  margin-top: 20px;
}