.AppLink {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.red {
  color: #ff0000;
}